{% extends "base.html" %}

{% block title %}Anime Books - OtakuHub{% endblock %}

{% block body %}
<header>📚 Anime Book Library</header>

<div class="container">
    <div class="menu">

        <div class="card">
            <img src="https://i.imgur.com/8RKXAIV.jpg" alt="Ninja Adventure">
            <div class="card-content">
                <h3>Ninja Adventure</h3>
                <p>Action • Friendship • Ninja</p>
                <a href="read.html">Read Now</a>
            </div>
        </div>

        <div class="card">
            <img src="https://i.imgur.com/w4Z0GKs.jpg" alt="Pirate Journey">
            <div class="card-content">
                <h3>Pirate Journey</h3>
                <p>Adventure • Sea • Dreams</p>
                <a href="read.html">Read Now</a>
            </div>
        </div>

        <div class="card">
            <img src="https://i.imgur.com/5u2R0fs.jpg" alt="Demon Blade">
            <div class="card-content">
                <h3>Demon Blade</h3>
                <p>Dark • Action • Fantasy</p>
                <a href="read.html">Read Now</a>
            </div>
        </div>

        <div class="card">
            <img src="https://i.imgur.com/z9d6yWy.jpg" alt="Cursed Sorcerer">
            <div class="card-content">
                <h3>Cursed Sorcerer</h3>
                <p>Supernatural • Action</p>
                <a href="read.html">Read Now</a>
            </div>
        </div>

    </div>
</div>
{% endblock body %}

