{% extends "base.html" %}
{% block title %}Spiritual Books - OtakuHub{% endblock %}

{% block body %}
<div class="container">
    <header class="header">
        <h1>Spiritual Books</h1>
        <p>Discover a world of wisdom and compassion. Enjoy a variety of publications that will feed your heart and soul.</p>
    </header>
</div>

<div class="page">
    <div class="top-bar">
        <div class="top-left">
            <div class="category-dropdown">
                <button class="filter-btn category-btn" aria-haspopup="true" aria-expanded="false">BOOKS <span class="icon">≡</span>
                </button>
                <div class="dropdown-menu category-menu" role="menu" aria-hidden="true">
                    <ul>
                        <li data-cat="all"><a href="/book">BOOKS</a></li>
                        <li data-cat="all"><a href="/anime">ANIME</a></li>
                        <li data-cat="fiction"><a href="/story">STORY</a></li>
                        <li data-cat="spirituality"><a href="/spiritual">SPIRITUALITY</a></li>
                        <li data-cat="selfhelp">SELF-HELP</li>
                        <li data-cat="other">OTHER</li>
                    </ul>
                </div>
            </div>
            <div class="sort-dropdown">
                <button class="filter-btn sort-btn" aria-haspopup="true" aria-expanded="false">FEATURED <span class="icon">≡</span></button>
                <div class="dropdown-menu" role="menu" aria-hidden="true">
                    <ul>
                        <li data-sort="featured">FEATURED</li>
                        <li data-sort="best">BEST SELLING</li>
                        <li data-sort="az">ALPHABETICALLY, A-Z</li>
                        <li data-sort="za">ALPHABETICALLY, Z-A</li>
                        <li data-sort="price-asc">PRICE, LOW TO HIGH</li>
                        <li data-sort="price-desc">PRICE, HIGH TO LOW</li>
                        <li data-sort="date-old">DATE, OLD TO NEW</li>
                        <li data-sort="date-new">DATE, NEW TO OLD</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="top-right">
            <span class="view-icon" data-cols="2">▤</span>
            <span class="view-icon" data-cols="3">▦</span>
        </div>
        
    </div>

        <main class="main"></main>
    </div>
        <div>
            <h1>📿 Spiritual Books </h1>

            <p>
                This is a free reading page.  
                Everyone can read the spiritual books freely without login.
            </p>
        </div>
<script src="static/book.js"></script>
{% endblock body %}